$turq: turquoise;
$fuch: fuchsia;
$orange: orange;
$border-width: 0.1em;
.button {
    backface-visibility: hidden;
    color: #fafafa;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 0.75em;
    transition: all 0.4s;
    border: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, $orange 0%, $fuch 100%), linear-gradient(to bottom, $orange 0%, $orange 100%), linear-gradient(to right, $fuch 0%, $orange 100%), linear-gradient(to top, $fuch 0%, $fuch 100%);
    overflow: hidden;
    z-index: 1;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-size: 100% $border-width, $border-width 100%, 100% $border-width, $border-width 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    &:after {
        opacity: 1;
        transition: 0s all;
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, $orange 0%, $fuch 100%), linear-gradient(to bottom, $orange 0%, $orange 100%), linear-gradient(to right, $fuch 0%, $orange 100%), linear-gradient(to top, $fuch 0%, $fuch 100%);
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-size: 100% $border-width, $border-width 100%, 100% $border-width, $border-width 100%;
    }
    &:before {
        content: '';
        position: absolute;
        height: 400%;
        width: 0%;
        transform-origin: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)rotate(-24deg);
        background-image: linear-gradient(to left, $orange 0%, $fuch 100%);
        transition: all 0.4s;
        z-index: -1;
    }
    &:hover {
        cursor: pointer;
        &:before {
            width: 110%;
        }
    }
    &+ .button {
        margin-left: 2em;
    }
}

.button--orange {
    background-image: linear-gradient(to left, $orange 0%, $fuch 100%), linear-gradient(to bottom, $orange 0%, $orange 100%), linear-gradient(to right, $fuch 0%, $orange 100%), linear-gradient(to top, $fuch 0%, $fuch 100%);
    &:after {
        background-image: linear-gradient(to left, $orange 0%, $fuch 100%), linear-gradient(to bottom, $orange 0%, $orange 100%), linear-gradient(to right, $fuch 0%, $orange 100%), linear-gradient(to top, $fuch 0%, $fuch 100%);
    }
    &:before {
        background-image: linear-gradient(to left, $orange 0%, $fuch 100%);
    }
}
