$nav-nudge: 0.95em;
.header {
    padding-top: 2em;
    padding-bottom: 2em;
}
.header__nav {
    margin: 0;
    text-align: right;
    transform: translateY(-$nav-nudge);
}
.header__link {
    letter-spacing: 0.2em;
    margin-right: 2em;
    text-transform: uppercase;
    &:last-child {
        margin-right: 0;
    }
}

.header__button {
    transform: translateY($nav-nudge);
    display: inline-block;
    margin-right: 0;
}
