.logo-vid {
    position: relative;
    width: 100%;
    max-width: 1000px;
}
.logo-vid__hit-area {
    position: absolute;
    // background: rgba(0,255,0,0.5);
    height: 21%;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
}
.logo-vid--rumble {
    animation: rumble 0.08s infinite linear;
}

@keyframes rumble {
     0% {transform: rotate(0deg);}
    25% {transform: translate(2px, 0px) rotate(-3deg);}
    50% {transform: translate(0px, -2px) rotate(0deg);}
    75% {transform: translate(-2px, 0px) rotate(3deg);}
    100% {transform: translate(0px, 2px) rotate(0deg);}
}
