.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0);
    background-image: linear-gradient(#fd00ae, fuchsia);
    border-radius: 0.1em;
    width: 85%;
    padding: 1em;
    @media #{$medium-up} {
        transform: translate3d(-50%, -50%, 0)rotate(-3deg);
        min-width: 400px;
        max-width: 650px;
        padding: 3em;
    }
}
.modal__inner {
    @media #{$medium-up} {
        transform: rotate(3deg);
    }
}

.modal--benchmark-intro {

}

.modal--benchmark-success {
    display: none;
}
