h1,
.alpha {
    font-family: $geomanist;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    line-height: 0.75;
    // letter-spacing: 0.2em;
    // text-transform: uppercase;
}
h2,
.beta {
    font-family: $geomanist;
    font-size: 2.2em;
    font-weight: bold;
    margin: 0;
    line-height: 1.4;
}

h3,
.gamma {
    color: rgba(0,0,0,0.5);
    font-size: 4em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.2em;
}

h3,
.delta {
    color: rgba(0,0,0,0.5);
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.2em;
}

p,
.copy {
    line-height: 1.4;
    font-size: 1.2em;
    margin-bottom: 1em;
    // &:last-child {
    //     margin-bottom: 0;
    // }
}
.copy--small {
    line-height: 1.4;
    font-size: 1em;
    margin-bottom: 1em;
}
.bold {
    font-weight: bold;
}
.color-dark {
    color: $TheDarkness;
}
