// $geomanist: 'Geomanist', 'open sans', 'helvetica', sans-serif;
h1,
.alpha {
    font-family: $geomanist;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    line-height: 0.75;
    // letter-spacing: 0.2em;
    // text-transform: uppercase;
}
