h1,
.alpha {
    font-family: $geomanist;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    line-height: 0.75;
    // letter-spacing: 0.2em;
    // text-transform: uppercase;
}
h2,
.beta {
    font-family: $geomanist;
    font-size: 2.2em;
    font-weight: bold;
    margin: 0;
    line-height: 1.4;
}

p,
.copy {
    line-height: 1.4;
    font-size: 1.2em;
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
}

.bold {
    font-weight: bold;
}
