.u-relative {
    position: relative;
}
.u-abs-center {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.u-text-center {
    text-align: center;
}

.u-small-text-center {
    text-align: center;
    @media #{$medium-up} {
        text-align: inherit;
    }
}

.u-mb-1 {
    margin-bottom: 1em !important;
}

.u-mb-0 {
    margin-bottom: 1em !important;
}
